/* Show it is fixed to the top */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

.bg-yc{
    background-color:#1769ff!important
}
.btn-outline-yc{
    color: #007bff;
    border-color: #007bff;
}

.tab-pane{

    padding-top: 15px;

}

.negrita{

    font-weight: bold;
}

input{

font-weight: bold;

}


.debe{
   color:red;
}
.completo{
    color:blue;
 }

 label#sms_resto, label#sms_faltante{

    font-size: 0.8em;
 }



.row-pad{

    padding-right: 0.2em;
    padding-left: 0.2em;
    padding-bottom: 0.2em;

}
 .bn{

    border:1px solid black;
 }

 .t-verde{

    color:green;
 }
 .info-pago{

background-color: lavender;
color: purple;  

 }